.stockList {
  width: 100%;
  padding: 8px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  width: 40%;
}

.tech {
  width: 30%;
}

.diff {
  width: 30%;
}

thead {
  background-color: #f5f6f7;
}

.green {
  background-color: #b7edb1;
}

.red {
  background-color: #fbbfbc;
}

.normal {
  background-color: #eff0f1;
}

td.right {
  text-align: right;
}
