*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #f8f9fa;
}

body {
  /* margin: 0; */
  font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron",
    "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#root {
  font-size: 12px;
  margin: 0 auto;
}

/** ipad */
@media (min-width: 768px) {
  #root {
    width: 768px;
  }
}

/** desktop */
@media (min-width: 1280px) {
  #root {
    width: 1280px;
  }
}
