.stockList {
  /* padding: 10px; */
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  width: 50%;
}

.diff {
  width: 50%;
}

.green {
  background-color: #b7edb1;
}

.red {
  background-color: #fbbfbc;
}

.normal {
  background-color: #eff0f1;
}
