.table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #e2e2e2;
}

.th,
.td {
  border: 1px solid gray;
  text-align: center;
  white-space: nowrap;
}
