table,
span {
  font-size: 12px;
}

h3 {
  margin-bottom: 0;
}
table {
  border-collapse: collapse;
  margin: 20px;
}

caption {
  text-align: left;
}

th,
td {
  border: 1px solid gray;
  width: 60px;
  text-align: center;
}
