* {
  box-sizing: border-box;
}
html {
  font-size: 12px;
  background-color: #e2e2e2;
}
@media (min-width: 600px) {
  html {
    font-size: 16px;
  }
}
body {
  margin: 0;
  font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro",
    "SF Pro Icons", "Apple Legacy Chevron", "PingFang SC", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}
/* box */
.box {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e2e2e2;
  margin: 5px;
  padding: 5px;
}
@media (min-width: 600px) {
  .box {
    margin: 20px 0;
    padding: 10px;
  }
}

#top {
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}
#top-center {
  line-height: 1.5;
  padding: 10px;
}
@media (min-width: 600px) {
  #top-center {
    width: 600px;
    margin: 0 auto;
  }
}
h2 {
  margin: 0;
}
main {
  overflow: hidden;
  margin: calc(10px * 2 + 1px + (1.5em + 1em) * 1.5) auto 0;
}
@media (min-width: 600px) {
  main {
    width: 600px;
  }
}

#daichi {
  animation-name: daichi;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes daichi {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-200%);
    visibility: hidden;
  }
}
table {
  border-collapse: collapse;
  width: 100%;
}
caption {
  text-align: left;
}
thead {
  background-color: #6c757d22;
}
.green {
  background-color: #28a74555;
}
.red {
  background-color: #dc354555;
}
th,
td {
  text-align: center;
  border: 1px solid gray;
}
