table,
span {
  font-size: 14px;
}

h3 {
  margin-bottom: 0;
}
table {
  border-collapse: collapse;
  margin: 20px;
}

caption {
  text-align: left;
}

th,
td {
  border: 1px solid gray;
  width: 65px;
  text-align: center;
}
@media (max-width: 425px) {
  table {
    margin: 10px auto;
  }
  th,
  td {
    width: 0;
    padding: 2px 3px;
  }
}
